html{
    background-color: #F1F3F6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.question{
    padding: 15px;
    margin: 10px;
    background-color: antiquewhite;
    font-size: 1.5rem;
}

.options{
    font-size: 1.2rem;
    padding-top: 10px;
}

li{
    padding: 10px;
}

/* ol :nth-child(even){
    background-color: darkcyan;
} */

button{
    padding: 10px 20px;
}

#results{
    width: 90dvw;
    height: 100px;
    background-color: coral;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#results.hide{
    color: white;
    display: none;
}

#results.show{
    color: white;
    display: flex;
}

@keyframes successAnimation {
    from {
      transform: scale(1.5);
    }
  
    to {
        transform: scale(3.5);
      
    }
  }

    @keyframes errorAnimation {
        /* move left and right */
        0% {
            transform: translateX(0px);
        }
        /* 25% {
            transform: translateX(40px);
        } */
        50% {
            transform: translateX(30px);
        }
        /* 75% {
            transform: translateX(-40px);
        } */
        100% {
            transform: translateX(-30px);
        }
    }
  
  .success span{
    /* display: block; */
    animation-duration: 0.1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .error span{
    /* display: block; */
    animation-duration: 1s;
    animation-name: errorAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
